body {
  background-color: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.hero,
.head {
  margin: 0 auto;
  max-width: 1180px;
  height: 1000px;
  padding-top: 5vw;
  padding-bottom: 10vw;
  text-align: center;
}

.head {
  height: 70px;
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/flag_word-1.png);
  text-align: center;
}

.hero-titel {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 45px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

.input {
  margin-top: 25px;
  margin-bottom: 15px;
  width: 600px;
  height: 50px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 20px;
  transition: border-color 250ms var(--timing);
}

.input:focus {
  outline: none;
  border-color: #2196f3;
}

.input:focus + .modal-form-icon {
  fill: #2196f3;
}

.card__country-box {
  margin: 0 auto;
  padding: 10px 10px;
  border: 1px solid #2196f3;
  width: 600px;
  text-align: left;
  background-color: white;
  border-radius: 6px;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 35px;
}

.card__thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__desc {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 700;
}

.card__item-list {
  font-size: 25px;
  font-weight: 400;
}
.country-box {
  margin: 0 auto;
  width: 600px;
  text-align: left;
}

.clear-button {
  margin-top: 30px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: rgb(195, 55, 43);
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clear-button:hover {
  background-color: firebrick;
}

.list-c {
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.list-c:hover {
  color: #2196f3;
}

.clue {
  color: green;
  margin-bottom: 15px;
}

.card__img {
  border: 1px solid;
}
